<form>
    <label for='user-name' name="user-name" id="user-name">User Name</label>
    <input type="text" name="user-name"></type>
    <label for='entry-title' name="entry-title" id="entry-title">Title</label>
    <input type="text" name="entry-title"></input>
    <label for='entry-body' name="entry-body" id="entry-body">Write here:</label>
    <textarea type="textarea" name="entry-body"></textarea>

    <label for='comment-body' id="comment-body">Add comment:</label>
    <textarea type="textarea" name="comment-body"></textarea>
</form>