<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>TechBlog</title>
</head>
<body>
  <header>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/">Dashboard</a>
          {{#if loggedIn}}
            <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
            <a href="/login">Login</a>
            <a href="/api/signup">Sign Up</a>
          {{/if}}
        
  </nav>
  <div class="section-title">
    <div class="title-border">TechBlog</div>
  </div>
  </header>
  <main>
    
      {{{body}}}
   
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>