<section class="container">
<form>
    <div class="page-title">Create a new blog entry!</div>
    <label for='entry-title'>Title:</label>
    <input class="form-input" type="text" id="entry-title"></input>
    <label for='entry-body'>Content:</label>
    <textarea class="form-input" type="textarea" id="entry-body"></textarea>
    <div class="btn-row">
        <button class="btn btn-primary" id="blog-submit-btn">Submit</button>
    </div>
</form>
</section>

<script src="/js/createEntry.js"></script>