<section class="container">
<div class="page-title">EDIT {{entry.id}}ENTRY.HBS</div>
<p>{{entry.title}}</p>
<p>{{entry.content}}</p>
<textarea id="comment-body" placeholder="Write comment here..."></textarea>
<button id="edit-submit-btn">Submit</button>>
</section>