<section class="container">
    <div class="page-title">Edit your blog:</div>
    <label name="title-input">Title:</label>
    <input class="form-input" type="text" id="title-input" value="{{entry.title}}">
    <label name="content-input">Content:</label>
    <input class="form-input" type="text" id="title-input" value="{{entry.content}}">
    <div class="btn-row">
        <button class="btn btn-primary">Submit</button>
        <button class="btn btn-primary">Delete</button>
    </div>
</section>
<script src="/js/dashboard.js"></script>