<section class="container">
<div class="page-title">{{entry.id}}ENTRY.HBS</div>
<p>{{entry.title}}</p>
<p>{{entry.content}}</p>
<textarea id="comment-textarea" placeholder="write comment here..."></textarea>
<button id="comment-submit-btn">Submit</button>
</section>
<script src="/js/createComment.js"></script>