{{!-- {{#each entries as |entry|}}
{{> entry-details}}
{{/each}} --}}
<h1>Blog Posts</h1>

{{!-- <h2>{{> entry-details}}</h2> --}}
{{#each entries as |entry| }}
<h3 class="entry">{{content}}</h3>
<p>{{user.user_name}}</p>
{{/each}}