<section class="container">
<div class="page-title">Blog Posts</div>
{{#each entries as |entry| }}
<a href="/entry/{{id}}">
<div class="page-title">{{title}}</div>
<p>{{content}}</p>
<p>{{createdAt}}</p>
</a>
{{/each}}
</section>