{{!-- {{#each entries as |entry|}}
{{> entry-details}}
{{/each}} --}}
<h1>this is homepage.handlebars</h1>

{{!-- <h2>{{> entry-details}}</h2> --}}
{{#each entry as |entry| }}
<h3 class="entry">{{content}}</h3>
{{/each}}