<section class="container">
<h2 class="page-title">Sign Up</h2>
<div class="form-border">
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      
      <div class="btn-row">
        <button class="btn btn-primary" type="submit">sign up</button>
      </div>
    </form>
    <a class="form-input" href="/login">Have an account? Login here</a>
  </div>
</div>
</div>
</section>
<script src="../js/signup.js"></script>