<section class="container">
<div class="page-title">EDIT {{entry.id}}ENTRY.HBS</div>
<p>{{entry.title}}</p>
<p>{{entry.content}}</p>
<button><a href="/dashboard/edit/{{entry.id}}">Edit</a></button>

</section>