body {
    box-sizing: border-box;
    margin: 0 auto;
    background-color:  #D9EAD3;
}

.navbar, .section-title {
    display: flex;
    background-color: black;
    color: whitesmoke;
    padding-top: 1rem;
    
    
}

.navbar a {
    margin-left: 2rem;
    color: whitesmoke;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.5rem;
    

    
}

.section-title {
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    padding-bottom: 2rem;
    padding-top: 2rem;
    
   
    
}

.title-border {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 2px white solid;
    border-radius: 3px;
    background-color: gray;
    align-items: center;
    margin-left: 2rem;
    box-shadow: 3px 3px 5px gray;
}

.blog-posts {
    border: 5px solid black;
    background-color: steelblue;
    
}

.btn-no-style {
    background-color: black;
    border-style: none;
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: sans-serif;
    margin-left: 1rem;
}

.btn-no-style:hover {
    cursor: pointer;
}

.container {
    width: 80%;
    margin: 1rem auto;
    padding-bottom: 1rem;
    padding-top: 1rem;

}

.blog-content {
    display: flex;
    margin: 0 auto;
    font-family: sans-serif;
    width: 96.5%;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: black;

}

.blog-border {
    border: 3px solid black;
    margin-bottom: 2rem;
}

.form-border {
    margin: 0 auto;
    padding-top: 2rem;
    border: 3px solid black;
    margin-bottom: 2rem;
    width: 96.5%;

}

.container a {
    text-decoration: none;
}

#byline {
    font-size: 1rem;
}

.page-title {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 1.5rem;
    background-color: black;
    color: #9D9C9E;
    font-weight: bolder;
    padding: 1rem;
    margin: 1rem;
    
}

.form-input {
    display: flex;
    justify-content: center;
    border-style: none;
    border-radius: 3px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5vh;
    padding-top: 1rem;
    margin-bottom: .5rem;
    font-family: sans-serif;
    font-size: 1rem;

    
}

input::focus {
    background-color: aliceblue;
    border-style: none;
}

label {
    display: flex;
    font-size: 2vh;
    margin-left: 10%;
    margin-bottom: .5rem;
    font-family: sans-serif;
}

.btn-row {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

.btn-primary {
    border: none;
    padding: .5rem 1rem;
    border-radius: 2px;
    background-color: whitesmoke;
    margin: auto 1rem;
}

#new-post, #new-comment {
    display: flex;
    justify-content: center;
   
}

#new-post a {
    color: black;
}
#new-post, #new-comment a {
    width: 15%;
    border: 2px solid black;
    background-color:  #D9EAD3;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.2rem;
    padding-left: .7rem;
}

.blog-container {
    font-size: 1.2rem;
    font-family: sans-serif;
    border: 2px solid black;
    
}

.comments-header {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 1.3rem;
    color: #9D9C9E;
    font-weight: bolder;
    padding: 1rem;
    margin-top: 10rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px black solid;
    
}

.comments-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    background-color: white;
}

#edit-btn {
    background-color:white;
    color: black;
    font-family: sans-serif;
    border: none;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 3rem;
}

#edit-btn a {
    color: black;
}

.comment-p {
    display: flex;
    flex-wrap: wrap;
}