body {
    box-sizing: border-box;
    margin: 0 auto;
}

.navbar, .section-title {
    display: flex;
    background-color: black;
    color: whitesmoke;
    padding-top: 1rem;
    
    
}

.navbar a {
    margin-left: 2rem;
    color: whitesmoke;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.5rem;
    

    
}

.section-title {
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    padding-bottom: 2rem;
    padding-top: 2rem;
    
   
    
}

.title-border {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 2px white solid;
    border-radius: 3px;
    background-color: gray;
    align-items: center;
    margin-left: 2rem;
    box-shadow: 3px 3px 5px gray;
}

.blog-posts {
    border: 5px solid black;
    background-color: steelblue;
    
}

.entry {
    border: 2px solid firebrick;
}

.btn-no-style {
    background-color: black;
    border-style: none;
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: sans-serif;
    margin-left: 1rem;
}

.btn-no-style:hover {
    cursor: pointer;
}

.container {
    background-color: rgb(175, 223, 175);
    border: 2px solid black;
}

.page-title {
    font-family: sans-serif;
    font-size: 1.5rem;
    background-color: black;
    color: rgb(175, 223, 175);
    font-weight: bolder;
    padding: 1rem
}

.form-input {
    display: flex;
    justify-content: center;
    border-style: none;
    border-radius: 3px;
    width: 80%;
    margin: 0 auto;
    line-height: 5vh;
    margin-bottom: .5rem;
    font-family: sans-serif;
    font-size: 1rem;

    
}

input::focus {
    background-color: aliceblue;
    border-style: none;
}

label {
    display: flex;
    font-size: 2vh;
    margin-left: 10%;
    margin-bottom: .5rem;
    font-family: sans-serif;
}

.btn-row {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

.btn-primary {
    border: none;
    padding: .5rem 1rem;
    border-radius: 2px;
    background-color: whitesmoke;
}

#new-post, #new-comment {
    display: flex;
    justify-content: center;
}
#new-post, #new-comment a {
    width: 15%;
    border: 2px solid black;
    background-color: rgb(175, 223, 175);
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.2rem;
    padding-left: .7rem;
}